/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #43AFFC;
}

.wrapper {
  width: 400px;
  border-radius: 7px;
  background-color: #fff;
}

.wrapper header {
  color: #43AFFC;
  font-size: 21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 16px 15px;
  border-bottom: 1px solid #bfbfbf;
}

header i {
  cursor: pointer;
  font-size: 0px;
  margin-right: 8px;
}

.wrapper.active header i{
  font-size: 30px;
  margin-left: 5px;
}

.wrapper .input-part {
  margin: 20px 25px 30px;
}

.wrapper.active .input-part {
  display: none;
}

.input-part :where(input,button) {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}

.input-part input {
  text-align: center;
  border: 1px solid #bfbfbf;
}

.input-part input:is(:focus, :valid) {
  border: 2px solid #43AFFC;
}

.input-part .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-part .info-txt {
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}

.info-txt.error {
  display: block;
  color: #721c24;
  background-color: #f8d7d1;
  border: 1px solid #f5c6cb;
}

.info-txt.pending {
  display: block;
  color: #0c5460;
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
}

.separator::before {
  content: 'or';
  color: #ccc;
  font-size: 19px;
  padding: 0 15px;
  background-color: #fff;
}

.input-part button {
  cursor: pointer;
  color: #fff;
  background-color: #43AFFC;
}

.wrapper .weather-part {
  margin: 30px 0 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper.active .weather-part {
  display: flex;
}

.weather-part img {
  max-width: 125px;
}

.weather-part .temp {
  display: flex;
  font-size: 72px;
  font-weight: 500;
}

.weather-part .temp .numb {
  font-weight: 600;
}

.weather-part .temp .deg {
  font-size: 40px;
  margin: 10px 5px 0 0;
  display: block;
}

.weather-part .location {
  display: flex;
  align-items: center;
  font-size: 21px;
  margin-bottom: 30px;
}
.location i {
  font-size: 22px;
  margin-right: 5px;
}

.weather-part .bottom-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bfbfbf;
}

.bottom-details .column {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column i {
  color: #43AFFC;
  font-size: 40px;
}

.column.humidity {
  border-left: 1px solid #bfbfbf;
}

.details .temp, .humidity span {
  font-size:18px;
  font-weight: 500;
  margin-top: -3px;
}

.details .temp .deg {
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}

.details p {
  font-size: 14px;
  margin-top: -6px;
}





